:root {
    --Sunburnt-Cyclops: #ff4758;
    --Jacarta: #3a3d5c;
    --Dark-Gunmetal: #24242c;

    --overall-fontsize: 62.5%;
}

htm,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--overall-fontsize)
}

body {
    font-size: 1.4rem;
}
.main-container {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
/**header*/

.header {
    background-color: var(--Sunburnt-Cyclops);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.navbar-right {
    display: none;
}
.menu-main {
    display: none;
}

.menu-authentication {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.menu-authentication .link-3 {
    display: none;
}

/**main*/

.main {
    flex-grow: 1;
    max-height: 100vh;
    height: 100vh;
}

/** footer */
.footer {
    background-color: var(--Dark-Gunmetal);
}
.container {
    border: 2px solid blue;
    max-width: 96vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 8px;
}
.container-fluid {
    border: 2px dotted orange;
    max-width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}
/**media queries*/
@media ( min-width: 567px  ) {
    .container {
        max-width: 560px;
        padding: 0 16px;
    }
}

@media (min-width: 768px ) {
    .container {
        max-width: 720px;
        padding: 0 24px;
    }
    .navbar-right {
        display: block;
    }
    .menu-main {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    .icon-hamburguer {
        display: none;
    }
}
@media ( min-width: 992px) {
    .container {
        max-width: 98rem;
        padding: 0 3.2rem;
    }
}

@media ( min-width: 1200px ) {
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }
}
