body {
    background-color: blueviolet;
    font-size: 1.4rem;
}
.header {
    background-color: brown;
}
footer {
background-color: brown;
}

.container {
    border: 2px solid blue;
    max-width: 96vw;
    margin: 0 auto;
    box-sizing: border-box;
}


/** media queries*/